body{
    background-color: rgb(80, 78, 78);
}


h1{
    text-align: center;
    color: rgb(219, 219, 219) ;
    text-shadow: 2px 1px;
    border-style: solid;
    background-color: rgb(20, 31, 131);
}

h2{
    color: rgb(219, 219, 219) ;
    border-style: dotted;
    background-color: rgb(20, 31, 131);
    text-transform: uppercase;
    

}

h3{
    font-style: italic;
    color: rgb(255, 255, 255) ;
    
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 219, 219) ;
   
}

.image1{
    width: 400px;
    height: 400px;
}

.image2{
    width: 350px;
    height: 200px;
}

.image3{
    width: 400px;
    height: 300px;

}







